html { 
  font-size: 16px;
  padding: 10rem;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; 
}

.form,
.form input {
  font-size: 1rem;
  line-height: 24px;
  color: #353740;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding-top: 60px;
}
.form .icon {
  width: 34px;
}
.form h3 {
  font-size: 2rem;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
.form form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
.form *{
  margin: 12px 0px;
}
.form ::placeholder {
  color: #92929f;
  opacity: 1;
}
.form #button {
  padding: 12px 0;
  color: #fff;
  background-color: #1061a3;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.form #button:hover{
  background-color: #62829b;
}
.form .result {
  font-weight: bold;
  margin-top: 40px;
}

#container {
  display: flex;
  flex-direction: column-reverse;
}

#container div {
  margin: 24px 40px;
  padding: 12px 24px;
  background: #d2d2d7;
  border-radius: 4px;
}